<!-- SERVICES START -->
<section class="services block">
    <div class="container">
        <h2 class="services__title title">
            Заголовок н2
        </h2>
        <div class="services__wrap">
            <div class="services__item">
                <div class="services__img">
                    <img src="../img/services/services-1.jpg" alt="services">
                </div>
                <p class="services__text">
                    Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне.
                </p>
                <div class="services__box">
                    <a href="tel:+38093322330" class="services__btn services__btn_call btn">Пoзвонить</a>
                    <a href="#" class="services__btn services__btn_details btn btn_black">Подробнеe</a>
                </div>
            </div>
            <div class="services__item">
                <div class="services__img">
                    <img src="../img/services/services-2.jpg" alt="services">
                </div>
                <p class="services__text">
                    Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне.
                </p>
                <div class="services__box">
                    <a href="tel:+38093322330" class="services__btn services__btn_call btn">Пoзвонить</a>
                    <a href="#" class="services__btn services__btn_details btn btn_black">Подробнеe</a>
                </div>
            </div>
            <div class="services__item">
                <div class="services__img">
                    <img src="../img/services/services-3.jpg" alt="services">
                </div>
                <p class="services__text">
                    Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне.
                </p>
                <div class="services__box">
                    <a href="tel:+38093322330" class="services__btn services__btn_call btn">Пoзвонить</a>
                    <a href="#" class="services__btn services__btn_details btn btn_black">Подробнеe</a>
                </div>
            </div>
            <div class="services__item">
                <div class="services__img">
                    <img src="../img/services/services-1.jpg" alt="services">
                </div>
                <p class="services__text">
                    Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне.
                </p>
                <div class="services__box">
                    <a href="tel:+38093322330" class="services__btn services__btn_call btn">Пoзвонить</a>
                    <a href="#" class="services__btn services__btn_details btn btn_black">Подробнеe</a>
                </div>
            </div>
            <div class="services__item">
                <div class="services__img">
                    <img src="../img/services/services-2.jpg" alt="services">
                </div>
                <p class="services__text">
                    Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне.
                </p>
                <div class="services__box">
                    <a href="tel:+38093322330" class="services__btn services__btn_call btn">Пoзвонить</a>
                    <a href="#" class="services__btn services__btn_details btn btn_black">Подробнеe</a>
                </div>
            </div>
            <div class="services__item">
                <div class="services__img">
                    <img src="../img/services/services-3.jpg" alt="services">
                </div>
                <p class="services__text">
                    Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне.
                </p>
                <div class="services__box">
                    <a href="tel:+38093322330" class="services__btn services__btn_call btn">Пoзвонить</a>
                    <a href="#" class="services__btn services__btn_details btn btn_black">Подробнеe</a>
                </div>
            </div>
        </div>
        <div class="services__slider-btn services__slider-btn_prev slider-btn_prev slider-btn slider-btn_prev_blue">

        </div>
        <div class="services__slider-btn services__slider-btn_next slider-btn_next slider-btn slider-btn_next_blue">

        </div>
    </div>
</section>
<!-- SERVICES END -->