.sidebar {
    width: 370px;
}

.recommendations {
    background-color: #fff;
    padding: 20px 10px;
    margin-bottom: 35px;

    &__img {
        font-size: 0;

        img {
            width: 100%;   
        }
    }

    &__link a {
        color: #212944;
        text-decoration: underline;
    }

    &__link {
        padding: 35px 15px;
        line-height: 2em;
    }
}

.news {
    background-color: #fff;
    padding: 20px 10px;
    margin-bottom: 35px;

    &__subtitle {
        font-size: 21px;
        margin: 0;
        text-align: start;
    }

    &__text {
        color: #212944;
    }

    &__wrap {
        position: relative;
        padding: 0 20px;
        margin-bottom: 20px;
        &::before {
            content: '';
            top: -10px;
            left: 50%;
            transform: translateX(-50%);
            position: absolute;
            width: 314px;
            background: #d2e0ef;
            height: 1px;
    
            
            @media (max-width: 768px) {
                bottom: -15px;	
            }
            @media (max-width: 639px) {
                bottom: -10px;	
            }
            @media (max-width: 480px) {
                bottom: -5px;	
            }
        }
    }
}

.gallery-side {
    background-color: #fff;
    padding: 20px 10px;
    margin-bottom: 35px;

    &__block {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__img {
        font-size: 0;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        flex-basis: 110px;
        margin-bottom: 10px;
    }
}

@media (max-width: 1200px) {
    .sidebar {
        width: 30%;
    }

    .news {
        &__wrap {
            &::before {
                width: 90%;
            }
        }
    }

    .gallery-side {
        &__img {
            flex-basis: 90px;
            height: 90px;
        }
    }

    .recommendations {
        &__link {
            padding: 25px 10px;
        }
    }
}
@media (max-width: 1023px) {
    .news {
        padding: 10px;

        width: 50%;

        &__subtitle {
            font-size: 19px;
        }
        &__link {
            font-size: 15px;
        }
        &__wrap {
            padding: 0 5px;
        }
    }

    .gallery-side {
        padding: 10px;
        width: 50%;
        order: 1;
    }

    .recommendations {
        padding: 10px;
        width: 50%;
    }

    .sidebar {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
}

@media (max-width: 768px) {
    .sidebar {
       width: 100%;
    }
    
}

@media (max-width: 639px) {
    .recommendations {
        
    }
}

@media (max-width: 480px) {
    .recommendations {
       
    }
}
