.events {
    background: url(../img/global/sky.jpg) no-repeat center top/cover;
    @media (min-width: 1024px) {
        padding: 100px 0 80px;
    }

    &__title {
        @media (min-width: 1024px) {
            margin-bottom: 70px;
        }
    }

    &__wrap {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__item {
        background-color: #fff;
        width: 370px;
        min-width: 370px;
        padding: 10px 10px 35px;
        margin-bottom: 35px;
    }

    &__text {
        padding: 0 10px 25px;
    }

    &__box {
        display: flex;
        justify-content: space-between;
        padding: 0 10px;
        align-items: center;
    }

    &__img {
        font-size: 0;
        margin-bottom: 25px;

        img {
            width: 100%;   
        }
    }

    &__date {
        font-family: 'Bebas Neue', sans-serif;
        font-size: 24px;
        width: 90px;
    }

    &__btn {
        width: 187px;
        padding: 16px 0;
    }

    &__slider-btn {
        background-color: #68a4ff;
        cursor: pointer;
        transition: .3s ease;
        z-index: 1;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);

        &_prev {
            left: 0;
        }

        &_next {
            right: 0;
            
        }

        &:hover {
            opacity: .7;
        }
    }

    &__nav-item {
        font-size: 24px;
        font-family: 'Bebas Neue', sans-serif;
        cursor: pointer;
        margin: 0 5px;

        &.is-active {
            font-size: 35px;
            color: #68a4ff;
        }
    }

    &__nav {
        display: flex;
        justify-content: center;
        max-width: 350px;
        padding: 0 65px;
        margin: 20px auto 0;
        position: relative;
    }

    &__nav-list {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        margin: 0;
        padding: 0;
    }
}


@media (max-width: 1200px) {
    .events {
        &__item {
            min-width: auto;
            max-width: 320px;
        }

        &__box {
            flex-direction: column;
            align-items: center;
            display: flex;
        }

        &__date {
            margin-bottom: 20px;
        }

        &__btn {
            margin-bottom: 15px;
            width: 100%;
            max-width: 170px;
        }
    }
    
}

@media (max-width: 1023px) {
    .events {

        &__text {
            padding: 0;
            margin-bottom: 20px;
            font-size: 14px;
        }

        &__item {
            min-width: auto;
            max-width: 100%;
            width: 48%;
        }

        &__slider-btn {
            width: 35px;
            height: 35px;
            background-size: 15px;

            &_prev {
                border-radius: 15px 15px 0 15px;
            }
    
            &_next {
                border-radius: 0 15px 15px 15px;
            }
        }
    }
}

@media (max-width: 767px) {
    .events {
        &__text {
            margin-bottom: 15px;
        }

        &__date {
            font-size: 22px;
            margin-bottom: 15px;
        }

        &__btn {
            font-size: 22px;
        }  
    }
}

@media (max-width: 639px) {
    .events {
        &__date {
            font-size: 20px;
            margin-bottom: 10px;
        }

        &__btn {
            font-size: 20px;
        } 
    }
}

@media (max-width: 479px) {
    .events {
        &__item {
            width: auto;
            max-width: 290px;
        }

        &__wrap {
            width: 100%;
        }
    }
}
