<!-- HERO START -->
<section class="hero">
    <div class="container">
        <div class="hero__list">
            <div class="hero__item">
                <h1 class="hero__title title">
                    Текст заголовок слайда
                </h1>
                <p class="hero__text">
                    Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.
                </p>
                <a href="" class="hero__btn btn">
                    Подробнее
                </a>
            </div>
        </div>
        <div class="hero__slider-btn hero__slider-btn_prev slider-btn_prev slider-btn">

        </div>
        <div class="hero__slider-btn hero__slider-btn_next slider-btn_next slider-btn">

        </div>
        
        
    </div>
</section>
<!-- HERO END -->