<!-- STORY START -->
<section class="story block">
    <div class="container">
        <h2 class="story__title title">
            Заголовок н2
        </h2>
        <div class="story__wrap">
            <div class="story__img">
                <img src="./img/story/story.jpg" alt="Ukraine">
            </div>
            <div class="story__content">
                <p class="story__text">
                    Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является
                    стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник
                    создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem
                    Ipsum не только успешно пережил без заметных изменений пять веков, но и перешагнул в электронный
                    дизайн.Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem
                </p>
                <p class="story__text">
                    Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий
                    безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для
                    распечатки образцов. Lorem Ipsum не только успешно пережил без заметных изменений пять веков, но и
                    перешагнул в электронный дизайн.
                </p>
            </div>
        </div>
        <a href="#" class="story__btn btn">Подробне</a>
    </div>
</section>
<!-- STORY END -->