.country-map {
    background: url(../img/global/sky.jpg) no-repeat center top/cover;

    &__wrap {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    &__title {
        @media (min-width: 1024px) {
            margin-bottom: 80px;
        }
    }
}