.description {
    @media (min-width: 1024px) {
        padding: 90px 0 55px;
    }

    &__title {
        @media (min-width: 1024px) {
            margin-bottom: 50px;
        }
    }

    &__text {
        margin-bottom: 25px;
    }

    &__img {
        font-size: 0;
        margin-bottom: 25px;

        img {
            width: 100%;   
        }
    }

}

@media (max-width: 1023px) {
    .description {

        &__text {
            margin-bottom: 20px;
        }
    }
}