<!-- HEADER START -->
<header class="header">
    <div class="container">
        <div class="header__box">
            <a href="">
                <img src="./img/header/logo.png" alt="AVIATOR">
            </a>
            <nav class="header__nav">
                <a href="" class="header__link">
                    Главная
                </a>
                <a href="" class="header__link">
                    Галерея
                </a>
                <a href="" class="header__link">
                    Блог
                </a>
                <a href="" class="header__link">
                    Сертификаты
                </a>
                <a href="" class="header__link">
                    Контакты
                </a>
            </nav>
            <a href="" class="header__phone">
                <i class="fas fa-phone-alt"></i>
                <span>
                    +38 093 322 33 00
                </span>
            </a>
            <div class="header__social">
                <a href="" class="header__network">
                    <i class="fab fa-facebook-f"></i>
                </a>
                <a href="" class="header__network">
                    <i class="fab fa-instagram"></i>
                </a>
                <a href="" class="header__network">
                    <i class="fab fa-twitter"></i>
                </a>
            </div>
        </div>
    </div>
</header>
<!-- HEADER END -->