<!-- HEADER START -->
<header class="header">
    <div class="container">
        <div class="header__box">
            <a href="index.html" class="header__logo">
                <img src="./img/header/logo.png" alt="AVIATOR">
            </a>
            <div class="header__menu-wrapper">
                <nav class="header__nav">
                    <a href="faq.html" class="header__link">
                        Главная
                    </a>
                    <a href="gallery.html" class="header__link">
                        Галерея
                    </a>
                    <a href="blog.html" class="header__link">
                        Блог
                    </a>
                    <a href="services.html" class="header__link">
                        Сертификаты
                    </a>
                    <a href="contacts.html" class="header__link">
                        Контакты
                    </a>
                </nav>
                <a href="tel:+380933223300" class="header__phone">
                    <img src="./img/header/phone.svg" alt="">
                    <span>
                        +38 093 322 33 00
                    </span>
                </a>
                <div class="header__social">
                    <a href="https://www.facebook.com/" class="header__network" target="_blank">
                        <img src="./img/header/facebook-icon.svg" alt="">
                    </a>
                    <a href="https://www.instagram.com/" class="header__network" target="_blank">
                        <img src="./img/header/instagram-icon.svg" alt="">
                    </a>
                    <a href="https://twitter.com/" class="header__network header__network_last" target="_blank">
                        <img src="./img/header/twitter-icon.svg" alt="">
                    </a>
                </div>
            </div>
            <div class="header__bars bars">
                <span class="bars bars__1"></span>
                <span class="bars bars__2"></span>
                <span class="bars bars__3"></span>
            </div>
        </div>
    </div>
</header>
<!-- HEADER END -->