<!-- HEADER START -->
<header class="header">
    <div class="container">
        <h1 class="title">
            Текст заголовок слайда
        </h1>
        <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Harum, vel ipsa soluta hic dolor qui recusandae blanditiis impedit at alias deleniti eius odio culpa beatae placeat accusamus. Repellat, vero veritatis?
            Velit eum alias quae facere, omnis, porro deleniti recusandae sapiente natus eaque laudantium quam ad fugit. Quidem dolor obcaecati omnis, quae libero, ducimus officiis id aliquam eius consequuntur nisi a?
            Velit possimus molestias tempore neque nulla fugit incidunt mollitia nisi aperiam nemo a, tempora repellendus eos voluptates dolorem corporis ipsum, enim dolor quam repellat assumenda perspiciatis nostrum omnis. Non, odit?
            Nisi qui saepe aperiam odio totam praesentium optio, at accusamus quaerat corporis eius quo amet magni omnis! Voluptas, omnis quidem, aliquam facere voluptatum ea fugit, doloribus maxime est magnam tempore!
            Consectetur eos, nesciunt nihil quae explicabo sapiente tempora ad dolore assumenda praesentium? Omnis aut eius veniam sed, neque vero saepe inventore dolorem ipsum, optio enim voluptas quod libero suscipit temporibus.
            Architecto, quis alias sequi doloremque labore consequuntur. Aut alias explicabo quasi aspernatur id debitis amet dolorem sit eius quibusdam fugiat quo, magnam perspiciatis iste voluptatem dolor ipsum dolore architecto facilis?
            Perferendis velit quisquam ipsam maxime animi ex nemo iste reprehenderit provident odit, fugit voluptas non obcaecati, eveniet beatae dolore atque, quia neque fugiat illum quasi! Officia eaque et mollitia nulla.
            Officia quae quo at illo dolorum nemo, temporibus, amet maiores porro incidunt debitis voluptatem ratione assumenda excepturi, qui libero. Id quibusdam assumenda modi reprehenderit, quasi fuga eum recusandae odit numquam!
            Ea eius assumenda, inventore totam distinctio nemo illum! Quia nesciunt, est sapiente maxime dolor voluptas molestiae temporibus fuga? Inventore quas adipisci minima ad vel quia nam odit ipsam iure temporibus.
            Architecto labore totam amet, ut, dicta voluptatum suscipit quaerat temporibus quae adipisci saepe aspernatur voluptas animi incidunt recusandae eveniet tempore maiores iusto debitis autem. Et quis accusamus velit praesentium voluptatem?
        </p>
    </div>
</header>
<!-- HEADER END -->