<!-- GALLERY START -->
<section class="gallery">
    <div class="container">
        <div class="gallery__wrap">
            <h2 class="gallery__title title">
                Галерея
            </h2>
            <div class="gallery__filter">
                <div class="gallery__name">
                    Категории:
                </div>
                <div class="gallery__item">
                    Прыжки
                </div>
                <div class="gallery__item">
                    Полеты
                </div>
                <div class="gallery__item">
                    Парапланы
                </div>
            </div>
            <div class="gallery__photo">
                <div class="gallery__img">
                    <img src="../img/gallery/gallery-photo-1" alt="gallery-photo-1">
                </div>
                <div class="gallery__img">
                    <img src="../img/gallery/gallery-photo-2" alt="gallery-photo-2">
                </div>
                <div class="gallery__img">
                    <img src="../img/gallery/gallery-photo-3" alt="gallery-photo-3">
                </div>
                <div class="gallery__img">
                    <img src="../img/gallery/gallery-photo-4" alt="gallery-photo-4">
                </div>
                <div class="gallery__img">
                    <img src="../img/gallery/gallery-photo-5" alt="gallery-photo-5">
                </div>
                <div class="gallery__img">
                    <img src="../img/gallery/gallery-photo-6" alt="gallery-photo-6">
                </div>
                <div class="gallery__img">
                    <img src="../img/gallery/gallery-photo-7" alt="gallery-photo-7">
                </div>
                <div class="gallery__img">
                    <img src="../img/gallery/gallery-photo-8" alt="gallery-photo-8">
                </div>
                <div class="gallery__img">
                    <img src="../img/gallery/gallery-photo-9" alt="gallery-photo-9">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- GALLERY END -->