<!-- GALLERY START -->
<section class="gallery">
    <div class="container">
        <div class="gallery__wrap">
            <h2 class="gallery__title title">
                Галерея
            </h2>
            <div class="gallery__filter">
                <div class="gallery__name">
                    Категории:
                </div>
                <div class="gallery__item">
                    Прыжки
                </div>
                <div class="gallery__item">
                    Полеты
                </div>
                <div class="gallery__item">
                    Парапланы
                </div>
            </div>
            <div class="gallery__photo">
                <div class="gallery__img">
                    <img src="" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- GALLERY END -->