<!-- FOOTER START -->
<footer class="footer">
    <div class="container">
        <div class="footer__top">
            <div class="footer__connect">
                <h3 class="footer__subtitle footer__subtitle_connect">
                    Связь с нами
                </h3>
                <div class="footer__phones">
                    <a href="" class="footer__phone">
                        +38 093 322 33 00
                    </a>
                    <a href="" class="footer__phone">
                        +38 093 322 33 00
                    </a>
                    <a href="" class="footer__phone">
                        +38 093 322 33 00
                    </a>
                    <a href="" class="footer__phone">
                        +38 093 322 33 00
                    </a>
                </div>
                <p class="footer__info">
                    Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является
                    стандартной "рыбой" для текстов на латинице с начала XVI века.
                </p>
                <a href="https://www.facebook.com/" target="_blank" class="footer__soc">
                    <img src="./img/footer/facebook-icon.svg" alt="">
                </a>
                <a href="https://www.instagram.com/" target="_blank" class="footer__soc">
                    <img src="./img/footer/instagram-icon.svg" alt="">
                </a>
            </div>
            <div class="footer__info-section footer__info-section_info">
                <h3 class="footer__subtitle">
                    Основная информация
                </h3>
                <div class="footer__info-section-links">
                    <div class="footer__info-item-box">
                        <a href="" class="footer__info-item">
                            Галлерея
                        </a>
                    </div>
                    <div class="footer__info-item-box">
                        <a href="" class="footer__info-item">
                            Сертификаты
                        </a>
                    </div>
                    <div class="footer__info-item-box">
                        <a href="" class="footer__info-item">
                            Блог
                        </a>
                    </div>
                    <div class="footer__info-item-box">
                        <a href="" class="footer__info-item">
                            Контакты
                        </a>
                    </div>
                    <div class="footer__info-item-box">
                        <a href="" class="footer__info-item">
                            Сертификаты
                        </a>
                    </div>
                    <div class="footer__info-item-box">
                        <a href="" class="footer__info-item">
                            Главная
                        </a>
                    </div>
                    <div class="footer__info-item-box">
                        <a href="" class="footer__info-item">
                            Контакты
                        </a>
                    </div>
                    <div class="footer__info-item-box">
                        <a href="" class="footer__info-item">
                            Галлерея
                        </a>
                    </div>
                </div>

            </div>
            <div class="footer__info-section footer__info-section_catalog">
                <h3 class="footer__subtitle">
                    Каталог услуг
                </h3>
                <div class="footer__info-section-links">
                    <div class="footer__info-item-box">
                        <a href="" class="footer__info-item">
                            Главная
                        </a>
                    </div>
                    <div class="footer__info-item-box">
                        <a href="" class="footer__info-item">
                            Сертификаты
                        </a>
                    </div>
                    <div class="footer__info-item-box">
                        <a href="" class="footer__info-item">
                            Галлерея
                        </a>
                    </div>
                    <div class="footer__info-item-box">
                        <a href="" class="footer__info-item">
                            Контакты
                        </a>
                    </div>
                    <div class="footer__info-item-box">
                        <a href="" class="footer__info-item">
                            Блог
                        </a>
                    </div>
                    <div class="footer__info-item-box">
                        <a href="" class="footer__info-item">
                            Главная
                        </a>
                    </div>
                    <div class="footer__info-item-box">
                        <a href="" class="footer__info-item">
                            Сертификаты
                        </a>
                    </div>
                    <div class="footer__info-item-box">
                        <a href="" class="footer__info-item">
                            Галлерея
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer__bottom">
        <div class="container footer__bottom-container">
            <p class="footer__copy">
                ©2020 Copyright
            </p>
            <a href="#" class="footer__creator">
                Разработан Lorem Ipsum
            </a>
            <p class="footer__copy_2">
                ©2020 Copyright
            </p>
        </div>
    </div>
</footer>
<!-- FOOTER END -->