.footer {
    background: #212934;
    color: #fff;
    padding-top: 80px;

    a {
        color: #fff;

        &:hover {
            color: #68a4ff;
        }
    }

    &__subtitle {
        font-size: 26px;
        font-weight: 700;
        margin-bottom: 20px;
    }

    &__top {
        display: flex;
        justify-content: space-between;
        padding-bottom: 75px;
    }

    &__info-section {
        display: flex;
        flex-wrap: wrap;
    }

    &__connect {
        flex-basis: 375px;
        display: flex;
        flex-wrap: wrap;
    }

    &__phones {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__phone {
        font-size: 20px;
        line-height: 1.8;
    }

    &__info {
        font-size: 12px;
        font-weight: 300;
        margin-top: 15px;
    }

    &__soc {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 25px;
        height: 25px;
        margin-top: 20px;
        margin-right: 10px;
        transition: .3s ease;

        &:hover {
            opacity: .7;
        }
    }

    &__info-section {
        display: flex;
        flex-direction: column;
        
        &_info {
            flex-basis: 340px;
            margin-left: auto;
            margin-right: 40px;
        }

        &_catalog {
            flex-basis: 290px;
        }
    }

    &__info-section-links {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    &__info-item-box {
        width: 50%;
    }

    &__info-item {
        line-height: 2;
        font-size: 16px;
        transition: .3s ease;
    }

    &__bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: #12171e;
        padding: 20px 0;

        &-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }

    &__creator {
        text-decoration: underline;
        transition: .3s ease;
    }
}



@media (max-width: 1200px) {
    .footer {
        padding-top: 50px;

        &__top {
            flex-wrap: wrap;
            justify-content: space-around;
            padding-bottom: 30px;
        }

        &__connect {
            width: 100%;
            flex-basis: auto;
            justify-content: center;
        }

        &__subtitle {
            width: 100%;

            &_connect {
                text-align: center; 
            }
        }

        &__phones {
            justify-content: space-around;
            width: 100%;
        }

        &__info {
            width: 100%;
            text-align: center;
        }

        &__info-section {
            margin-top: 15px;
            width: 350px;
            flex-basis: auto;

            &_info {
                margin: 15px 0 0;
            }
        }

    }
}



@media (max-width: 1023px) {
    .footer {
        padding-top: 40px;

        &__copy {
            &_2 {
                display: none;
            }
        }

        &__phones {
            flex-direction: column;
            align-items: center;
        }

        &__creator {
            display: none;
        }

        &__bottom-container {
            justify-content: center;
        }

        &__subtitle {
            font-size: 22px;
        }
    }
}

@media (max-width: 768px) {
    .footer {
        &__top {
            flex-direction: column;
            align-items: center;
        }

        &__subtitle {
            margin-bottom: 15px;
            font-size: 20px;
        }

        &__info-section {
            width: 300px;
            margin-top: 20px;
        }

        &__info-item {
            font-size: 15px;
        }
    }
}