<!-- QUESTION START -->
<section class="question block">
    <div class="container">
        <h2 class="question__title title">
            Часто задаваемые вопросы
        </h2>
        <div class="question__wrap">
            <div class="question__content">
                <div class="question__item is-active">
                    <div class="question__box">
                        <div class="question__icon">
                        </div>
                        <h4 class="question__subtitle title-less">
                            Безопасно ли летать?
                        </h4>
                    </div>
                    <p class="question__text" style="display: block">
                        Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является
                        стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник
                        создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов.
                        Lorem Ipsum не только успешно пережил без заметных изменений пять веков, но и перешагнул в
                        электронный дизайн.
                    </p>
                </div>
                <div class="question__item">
                    <div class="question__box">
                        <div class="question__icon">
    
                        </div>
                        <h4 class="question__subtitle title-less">
                            Какие есть ограничения к полетам?
                        </h4>
                    </div>
                    <p class="question__text">
                        Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является
                        стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник
                        создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов.
                        Lorem Ipsum не только успешно пережил без заметных изменений пять веков, но и перешагнул в
                        электронный дизайн.
                    </p>
                </div>
                <div class="question__item">
                    <div class="question__box">
                        <div class="question__icon">
    
                        </div>
                        <h4 class="question__subtitle title-less">
                            Безопасно ли летать?
                        </h4>
                    </div>
                    <p class="question__text">
                        Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является
                        стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник
                        создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов.
                        Lorem Ipsum не только успешно пережил без заметных изменений пять веков, но и перешагнул в
                        электронный дизайн.
                    </p>
                </div>
                <div class="question__item">
                    <div class="question__box">
                        <div class="question__icon">
    
                        </div>
                        <h4 class="question__subtitle title-less">
                            Безопасно ли летать?
                        </h4>
                    </div>
                    <p class="question__text">
                        Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является
                        стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник
                        создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов.
                        Lorem Ipsum не только успешно пережил без заметных изменений пять веков, но и перешагнул в
                        электронный дизайн.
                    </p>
                </div>
            </div>
            <aside class="question__bar sidebar">
                <div class="question__recommendations recommendations">
                    <h3 class="recommendations__title title-less">
                        Рекомендации
                    </h3> 
                    <div class="recommendations__img">
                        <img src="./img/question/recommendations.jpg" alt="recommendations">
                    </div>
                    <div class="recommendations__link">
                        <a href="#">Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum</a>
                    </div>
                </div>
            </aside>
        </div>
    </div>
</section>
<!-- QUESTION END -->