<!-- BLOG START -->
<section class="blog block">
    <div class="container">
        <h2 class="blog__title title">
            Заголовок н2
        </h2>
        <div class="blog__wrap">
            <div class="blog__box">
                <div class="blog__img">
                    <img src="./img/blog/blog-1.jpg" alt="blog">
                </div>
                <p class="blog__text">
                    Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является
                    стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник
                    создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов.
                    Lorem
                    Ipsum не только успешно пережил без заметных изменений пять веков, но и перешагнул в электронный
                    дизайн.
                    Его популяризации в новое время послужили публикация листов Letraset с образцами Lorem Ipsum в 60-х
                    годах и, в более недавнее время, программы электронной вёрстки типа Aldus PageMaker, в шаблонах
                    которых
                    используется Lorem Ipsum.Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне.
                    Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.
                </p>
                <p class="blog__text">
                    Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является
                    стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник
                    создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов.
                    Lorem
                    Ipsum не только успешно пережил без заметных изменений пять веков, но и перешагнул в электронный
                    дизайн.
                </p>
                <p class="blog__text">
                    Его популяризации в новое время послужили публикация листов Letraset с образцами Lorem Ipsum в 60-х
                    годах и, в более недавнее время, программы электронной вёрстки типа Aldus PageMaker, в шаблонах
                    которых
                    используется Lorem Ipsum.Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне.
                    Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. .
                </p>
                <p class="blog__text">
                    Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является
                    стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник
                    создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов.
                    Lorem
                    Ipsum не только успешно пережил без заметных изменений пять веков, но и перешагнул в электронный
                    дизайн.
                </p>
                <p class="blog__text">
                    Его популяризации в новое время послужили публикация листов Letraset с образцами Lorem Ipsum в 60-х
                    годах и, в более недавнее время, программы электронной вёрстки типа Aldus PageMaker, в шаблонах
                    которых
                    используется Lorem Ipsum.Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне.
                    Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.
                </p>
                <p class="blog__text">
                    Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является
                    стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник
                    создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов.
                    Lorem
                    Ipsum не только успешно пережил без заметных изменений пять веков, но и перешагнул в электронный
                    дизайн.
                </p>
                <p class="blog__text">
                    Его популяризации в новое время послужили публикация листов Letraset с образцами Lorem Ipsum в 60-х
                    годах и, в более недавнее время, программы электронной вёрстки типа Aldus PageMaker, в шаблонах
                    которых
                    используется Lorem Ipsum.Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне.
                    Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.
                </p>
            </div>
            <aside class="blog__bar sidebar">
                <div class="blog__news news">
                    <h3 class="news__title title-less">
                        Новости
                    </h3>
                    <div class="news__wrap">
                        <a href="#" class="news__link">
                            <h5 class="news__subtitle title-less">
                                Заголовок 1
                            </h5>
                            <p class="news__text">
                                Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum
                                является стандартной "рыбой" для текстов на латинице с начала XVI века.
                            </p>
                        </a>
                    </div>
                    <div class="news__wrap">
                        <a href="#" class="news__link">
                            <h5 class="news__subtitle title-less">
                                Заголовок 1
                            </h5>
                            <p class="news__text">
                                Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum
                                является стандартной "рыбой" для текстов на латинице с начала XVI века.
                            </p>
                        </a>
                    </div>
                    <div class="news__wrap">
                        <a href="#" class="news__link">
                            <h5 class="news__subtitle title-less">
                                Заголовок 1
                            </h5>
                            <p class="news__text">
                                Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum
                                является стандартной "рыбой" для текстов на латинице с начала XVI века.
                            </p>
                        </a>
                    </div>
                </div>
                <div class="blog__gallery-side gallery-side">
                    <h3 class="gallery-side__title title-less">
                        Галерея
                    </h3>
                    <div class="gallery-side__block">
                        <a href="#" class="gallery-side__img gallery-side__img_1">
                            <img src="./img/blog/g-side-1.jpg" alt="">
                        </a>
                        <a href="#" class="gallery-side__img gallery-side__img_2">
                            <img src="./img/blog/g-side-2.jpg" alt="">
                        </a>
                        <a href="#" class="gallery-side__img gallery-side__img_3">
                            <img src="./img/blog/g-side-3.jpg" alt="">
                        </a>
                        <a href="#" class="gallery-side__img gallery-side__img_4">
                            <img src="./img/blog/g-side-4.jpg" alt="">
                        </a>
                        <a href="#" class="gallery-side__img gallery-side__img_5">
                            <img src="./img/blog/g-side-5.jpg" alt="">
                        </a>
                        <a href="#" class="gallery-side__img gallery-side__img_6">
                            <img src="./img/blog/g-side-6.jpg" alt="">
                        </a>
                        <a href="#" class="gallery-side__img gallery-side__img_7">
                            <img src="./img/blog/g-side-7.jpg" alt="">
                        </a>
                        <a href="#" class="gallery-side__img gallery-side__img_8">
                            <img src="./img/blog/g-side-8.jpg" alt="">
                        </a>
                        <a href="#" class="gallery-side__img gallery-side__img_9">
                            <img src="./img/blog/g-side-9.jpg" alt="">
                        </a>
                    </div>
                </div>
                <div class="blog__recommendations recommendations">
                    <h3 class="recommendations__title title-less">
                        Рекомендации
                    </h3>
                    <div class="recommendations__img">
                        <img src="./img/question/recommendations.jpg" alt="recommendations">
                    </div>
                    <div class="recommendations__link">
                        <a href="#">Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum</a>
                    </div>
                </div>
            </aside>
        </div>
    </div>
</section>
<!-- BLOG END -->