.blog {
    background: url(../img/global/sky.jpg) no-repeat center top/cover;
    @media (min-width: 1024px) {
        padding: 100px 0 35px;
    }

    &__title {
        @media (min-width: 1024px) {
            margin-bottom: 80px;
        }
    }

    &__wrap {
        display: flex;
        justify-content: space-between;
    }

    &__box {
        width: 770px;
    }

    &__text {
        margin-bottom: 25px;
    }

    &__img {
        font-size: 0;
        margin-bottom: 45px;
        padding: 10px;
        background-color: #fff;

        img {
            width: 100%;   
        }
    }

}

@media (max-width: 1200px) {
    .blog {
        &__box {
            width: 68%;
        }
    }
}

@media (max-width: 1023px) {
    .blog {

        &__text {
            margin-bottom: 20px;
        }
    }
}

@media (max-width: 767px) {
    .blog {
       &__wrap {
           flex-direction: column;
       }
       &__box {
        width: 100%;
        }
    }
    
}

@media (max-width: 639px) {
    .blog {
        &__wrap {
            flex-direction: column;
            background-color: #000;
        }
        &__text {
            margin-bottom: 15px;
        }
    }
}

@media (max-width: 479px) {
    .blog {
        &__text {
            margin-bottom: 10px;
        }
    }
}