<!-- FAQ-SLIDER START -->
<section class="feedback block">
    <div class="container">
        <div class="feedback__box">
            <h2 class="feedback__title title">
                Заголовок н2
            </h2>
            <form class="feedback__connect form-big" method="POST" action="#">
                <div class="form-big__wrap">
                    <div class="form-big__info">
                        <label class="form-big__label" for="name"> Имя: </label>
                        <input type="text" class="form-big__input" placeholder="Ваше имя" name="name" id="name" required>  
                    </div>
                    <div class="form-big__info">
                        <label class="form-big__label" for="phone"> Телефон: </label>
                        <input type="tel" class="form-big__input " placeholder="Ваш телефон" name="phone" id="phone" required>
                    </div>
                    <div class="form-big__info">
                        <label class="form-big__label" for="email"> Email: </label>
                        <input type="email" class="form-big__input" placeholder="Ваша почта" name="email" id="email" required>
                    </div>
                    <div class="form-big__info">
                        <label class="form-big__label " for="message"> Сообщение: </label>
                        <textarea class="form-big__input form-big__input_textarea" placeholder="Сообщение" name="message" id="message"></textarea>
                    </div>
                </div>
                <button class="form-big__btn form-big__btn_send btn">
                    отправить
                </button>
            </form> 
        </div>
    </div>
</section>
<!-- FAQ-SLIDER END -->