<!-- FAQ-SLIDER START -->
<section class="faq-slider block">
    <div class="container">
        <h2 class="title faq-slider__title">
            Заголовок н2
        </h2>
    </div>
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="faq-slider__slide swiper-slide">
                <img src="./img/faq-slider/faq-slider1.jpg" alt="">
            </div>
            <div class="faq-slider__slide swiper-slide">
                <img src="./img/faq-slider/faq-slider2.jpg" alt="">
            </div>
            <div class="faq-slider__slide swiper-slide">
                <img src="./img/faq-slider/faq-slider1.jpg" alt="">
            </div>
            <div class="faq-slider__slide swiper-slide">
                <img src="./img/faq-slider/faq-slider2.jpg" alt="">
            </div>
            <div class="faq-slider__slide swiper-slide">
                <img src="./img/faq-slider/faq-slider1.jpg" alt="">
            </div>
        </div>
        <div class="
            slider-btn_prev
            slider-btn_prev_blue 
            faq-slider__slider-btn 
            slider-btn 
            faq-slider__slider-btn_prev"></div>
        <div class="
            slider-btn_next
            slider-btn_next_blue 
            faq-slider__slider-btn 
            slider-btn 
            faq-slider__slider-btn_next"></div>
    </div>
    <div class="container">
        <div class="faq-slider__text">
            <p>
                Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum не только успешно пережил без заметных изменений пять веков, но и перешагнул в электронный дизайн. Его популяризации в новое время послужили публикация листов Letraset с образцами Lorem Ipsum в 60-х годах и, в более недавнее время, программы электронной вёрстки типа Aldus PageMaker, в шаблонах которых используется Lorem Ipsum.Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. 
            </p>
            <p>
                Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum не только успешно пережил без заметных изменений пять веков, но и перешагнул в электронный дизайн. Его популяризации в новое время послужили публикация листов Letraset с образцами Lorem Ipsum в 60-х годах и, в более недавнее время, программы электронной вёрстки типа Aldus PageMaker, в шаблонах которых используется Lorem Ipsum.Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. 
            </p>
        </div>
    </div>
</section>
<!-- FAQ-SLIDER END -->