.faq-slider {
    background: url(../img/global/sky.jpg)no-repeat top center / cover;
    @media (min-width: 1024px) {
        padding: 75px 0 100px;
    }
    

    &__text {
        margin-top: 40px;

        p {
            margin-bottom: 20px;
        }
        
    }
    
    &__slide {
        max-width: 1170px;
        font-size: 0;
        display: flex;
        align-items: center;
        pointer-events: none;

        img {
            min-height: 100%;
            min-height: 100%;
            pointer-events: none;
        }
    }

    &__slider-btn {
        background-color: #68a4ff;
        position: absolute;
        top: 260px;
        z-index: 1;
        cursor: pointer;
        transition: .3s ease;

        &:hover {
            opacity: .9;
        }

        &_next {
            right: calc(50% - 615px);
        }

        &_prev {
            left: calc(50% - 615px);
        }

        &::after {
            display: none;
        }
    }
}

.swiper-container {
    max-width: 1360px;
    margin: 0 auto;
    height: 570px;
}

.swiper-slide-active {
    padding: 10px;
    background: #fff;
}

@media (max-width: 1300px) {
    .swiper-container {
        max-width: 100%;
        height: 450px;
    }

    .faq-slider {
        &__slide {
            width: 1000px;
            height: 350px;
        }
    }
}

@media (max-width: 1250px) {
    .faq-slider {
        &__slider-btn {
            &_next {
                right: 10px;
            }

            &_prev {
                left: 10px;
            }
        }
    }
}

@media (max-width: 1023px) {
    .faq-slider {
        &__slide {
            width: 800px;
            height: auto;
        }
    }

    .faq-slider__slider-btn {
        top: 50%;
        transform: translateY(-50%);
        width: 35px;
        height: 35px;
        background-size: 15px;

        &_prev {
            left: 5px;
            border-radius: 15px 15px 0 15px;
        }

        &_next {
            right: 5px;
            border-radius: 0 15px 15px 15px;
        }
    }

    .swiper-container {
        height: auto;
    }

    .swiper-slide-active {
        padding: 5px;
    }
}