.map {
    background: url(../img/global/sky.jpg) no-repeat center top/cover;

    &__title {
        @media (min-width: 1024px) {
        margin-bottom: 100px;
    }
    }

    &__wrap {
        display: flex;
        justify-content: space-between;
    }

    &__content {
        width: 480px;
    }

    &__text {
        margin-bottom: 25px;
    }

    &__img {
        max-width: 877px;
    }
}


@media (max-width: 1200px) {
    .map {
        &__content {
            width: 53%;
        }
        &__img {
            max-width: 45%;
        }
    }
}

@media (max-width: 1023px) {
    .map {
        &__content {
            width: 63%;
        }
        &__img {
            max-width: 35%;
        }
    }
}

@media (max-width: 767px) {
    .map {
        &__content {
            width: 100%;
        }
        &__img {
            display: none;
        }
    }
}

@media (max-width: 639px) {
    .map {
        &__text {
            margin-bottom: 15px; 
        }
    }
}

@media (max-width: 479px) {
    .map {
        &__text {
            margin-bottom: 10px;
        }       
    }
}