<!-- CONTACTS START -->
<section class="contacts block">
    <div class="container">
        <div class="contacts__wrap">
            <div class="contacts__info">
                <div class="contacts__item">
                    <span class="contacts__name">Телефон:</span>
                    <a href="tel:+38093322330" class="contacts__link contacts__link_tel">+38 093 322 33 00</a>
                </div>
                <div class="contacts__item">
                    <span class="contacts__name">Телефон:</span>
                    <a href="tel:+38093322330" class="contacts__link contacts__link_tel" >+38 093 322 33 00</a>
                </div>
                <div class="contacts__item">
                    <span class="contacts__name">Email:</span>
                    <a href="mailto:aviator@gmail.com" class="contacts__link contacts__link_email">aviator@gmail.com</a>
                </div>
                <div class="contacts__item">
                    <span class="contacts__name">Адрес:</span>
                    <a href="#" class="contacts__link contacts__link_address">г.Киев, ул. Пушкина, д5/1а</a>
                </div>
            </div>
            <div class="contacts__box">
                <h2 class="contacts__title title">
                    Заголовок н2
                </h2>
                <form class="contacts__connect form">
                    <div class="form__wrap">
                        <div class="form__info">
                            <label class="form__label" for="name"> Имя: </label>
                            <input type="text" class="form__input" placeholder="Ваш телефон" name="name" required>  
                        </div>
                        <div class="form__info">
                            <label class="form__label" for="phone"> Телефон: </label>
                            <input type="tel" class="form__input " placeholder="Ваш телефон" name="phone" required>
                        </div>
                        <div class="form__info">
                            <label class="form__label" for="E-mail"> Email: </label>
                            <input type="email" class="form__input" placeholder="Ваш телефон" name="E-mail" required>
                        </div>
                        <div class="form__info">
                            <label class="form__label " for="message"> Сообщение: </label>
                            <textarea type="text" class="form__input form__input_height" placeholder="Сообщение" name="message" rows = "5" cols = "50"></textarea>
                        </div>
                    </div>
                    <div class="form__box">
                        <button type="submit" class="form__btn form__btn_send btn">
                            отправить
                        </button>
                        <a href="tel:+38093322330" class="form__btn form__btn_call btn">позвонить</a>
                    </div>
				</form> 
            </div>
        </div>
    </div>
</section>
<!-- CONTACTS END -->