.container {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 15px;
}

.btn {
	color: #F2F2F2;

}
.title {
	font-family: 'Bebas Neue', sans-serif;
	font-weight: 700;
	font-size: 65px;
	color: #35345B;
	margin: 0;
	text-transform: uppercase;
}