body {
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	font-size: 16px;
	line-height: 1.5;
	color: #212944;
	background-color: #f8f9fa;

	@media (max-width: 639px) {
		font-size: 15px;	
	}
	@media (max-width: 480px) {
		font-size: 14px;	
	}
}

p {
	margin: 0;
}

h2 {
	position: relative;
	&::after {
		content: '';
		bottom: -20px;
		left: 50%;
		transform: translateX(-50%);
		position: absolute;
		width: 103px;
		background: #68a4ff;
		height: 5px;
	}
}

h2::after {
	content: '';
    bottom: -20px;
	left: 50%;
	transform: translateX(-50%);
    position: absolute;
    width: 103px;
    background: #68a4ff;
	height: 5px;
	
	

	@media (max-width: 768px) {
		bottom: -15px;	
	}
	@media (max-width: 639px) {
		bottom: -10px;	
	}
	@media (max-width: 480px) {
		bottom: -5px;	
	}
}

.container {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 15px;
}

.block {
	padding: 80px 0 75px;

	@media (max-width: 1023px) {
		padding: 60px 0 50px;
	}

	@media (max-width: 768px) {
		padding: 50px 0 40px;
	}
	@media (max-width: 639px) {
		padding: 40px 0 30px;
	}
	@media (max-width: 480px) {
		padding: 30px 0 25px;
	}
}

.btn {
	color: #fff;
	font-family: 'Bebas Neue', sans-serif;
	text-transform: uppercase;
	font-size: 24px;
	padding: 19px 0;
	line-height: 0.77em;
	letter-spacing: 0.02em;
	text-align: center;
	background-color: #68a4ff;
	border-radius: 27.5px;
	display: block;
	cursor: pointer;
	width: 177px;
}

.btn:hover {
	background-color: #2f82ff;
}

.title {
	font-family: 'Bebas Neue', sans-serif;
	font-weight: 700;
	font-size: 55px;
	color: #212944;
	margin: 0;
	text-transform: uppercase;
	line-height: 62px;
	text-align: center;
	margin-bottom: 65px;

	@media (max-width: 1023px) {
		font-size: 51px;
		margin-bottom: 55px;
	}

	@media (max-width: 768px) {
		font-size: 47px;
		margin-bottom: 45px;
	}
	@media (max-width: 639px) {
		font-size: 42px;
		margin-bottom: 35px;
	}
	@media (max-width: 480px) {
		font-size: 35px;
		margin-bottom: 25px;
	}
}

.back-white {
	background-color: #fff;
}
